header{
    background-color: #6FB2D2;
    padding: 20px;
}
nav{
    background-color: #062C30;
    color: bisque;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: aqua;
    grid-column:1/4 ;
}
aside{
    background-color: #85C88A;
    padding: 30px;
    grid-column: 4/5;
}
footer{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
}
